/* Custom CSS for col-4 elements */
.col-lg-4.col-sm-12{
    margin-bottom: 20px;
    padding: 0 15px; 
  }
  
  /* Card styles */
  .card {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    justify-content: space-betwee;
    height: 100% ;
    width: 100%;
    background: #3a3c3d;
    border: 30px;
    border-radius: 10px;
    box-shadow: -20px -20px 25px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    padding: 1 10 1 10;
  }
  
  .card h6 {
    font-family: system-ui;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
    padding: 0; /* Add this line to remove padding */
    background: black;
  }

   .card p {
    
    margin: 0.5rem 0;
    text-align: left;
    padding: 0; /* Add this line to remove padding */
    
  }
  
  
  .card-body {
    
    font-family: system-ui;
    font-size: 1rem;
    color: white;
    font-weight: bold;  
    text-align: center;
    padding: 0;/* Add this line to remove padding */
     
  }
  
 
  
  /* Container and row styles */
  .container {
    margin: 0 auto;
    background:#919397;
    padding-left: 20px;
    padding-top: 20px;
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  